<header class="theme-editor__header theme-editor__header--no-shadow">
  <nav class="theme-editor__header-nav wittyEDLogoHeading">
    <h2 class="ui-heading theme-editor__heading" data-bind="editor.sectionName(sectionId)">
      <%= svgs 'logo_white' %>
    </h2>
  </nav><!-- .theme-editor__header-nav -->
</header><!-- .theme-editor__header -->
<% if @type == 'resource_select' %>
<div class="wittyEDPanel<% if @type == 'resource_select' %> active<% end %>" data-tier="1">
  <header class="resource-select-title theme-editor__header theme-editor__header--no-shadow"> 
    <h2 class="ui-heading theme-editor__heading">Choose an Option</h2>
  </header>
  <div class="wittyEDPanelBody">
    <%= panel 'resource_select' %>
  </div><!-- .wittyEDPanelBody -->
</div>
<% end %>

<% if @resource %>
  <%= form_for @resource, remote: true, url: url_for(controller: 'unembedded', action: 'update_api'), method: :put, html: {class: 'ajax'} do |o| %>

    <div class="wittyEDPanel<% if @type == 'resource_select' %> active<% end %>" data-tier="1">
      <div class="drop-select-resouces wittyEDPanelBody">
        <div class="wittyEDTopButtons theme-editor__header"> 
          <button type="button" class="sidebyside_85 primary next-pannel">Edit Product</button>
          <button type="button" class="sidebyside_15 warning icon-trash tip" data-hover="Delete Product"></button>
        </div>
        <%= panel 'resource_select' %>
      </div><!-- .wittyEDPanelBody -->
    </div>
    <% unless @type == 'resource_select' %>
      <div class="wittyEDPanel active" data-tier="2">
        <header class="theme-editor__header theme-editor__header--no-shadow">
          <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel check-for-unsaved" aria-label="Back to sections" type="button" name="button"></button>
          <h2 class="ui-heading theme-editor__heading"><%= @type %></h2>
          <a class="btn_more" href=""><% svgs 'more_teal' %></a>
        </header><!-- .theme-editor__header -->
        <div class="wittyEDPanelBody">
          <%= render partial: 'unembedded/panels/' + @type, locals: {o: o} %>
        </div><!-- .wittyEDPanelBody -->
      </div>
      <% if @type == 'product' && @resource.variants.first&.title != 'Default Title' %>
        <div class="wittyEDPanel" data-tier="3">
          <header class="theme-editor__header theme-editor__header--no-shadow">
            <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel" aria-label="Back to sections" type="button" name="button"></button>
            <h2 class="ui-heading theme-editor__heading">Variants</h2>
            <a class="btn_more" href=""><% svgs 'more_teal' %></a>
          </header><!-- .theme-editor__header -->
          <div class="wittyEDPanelBody">
            <%= panel 'all_variants' %>
          </div><!-- .wittyEDPanelBody -->
        </div>
        <div class="wittyEDPanel" data-tier="4">
          <header class="theme-editor__header theme-editor__header--no-shadow">
            <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel check-for-variant-unsaved" aria-label="Back to sections" type="button" name="button"></button>
            <h2 class="ui-heading theme-editor__heading">Variant</h2>
            <a class="btn_more" href=""><% svgs 'more_teal' %></a>
          </header><!-- .theme-editor__header -->
          <div id="section-edit-variant" class="wittyEDPanelBody">
            <%= panel 'one_of_many_variants' %>
          </div><!-- .wittyEDPanelBody -->
        </div>
      <% end %>
    <% end %>

  <% end %>
<% end %>