<!-- WITTY EasyDash - Sidebar Code -->
<div class="wittyEDSidebar">

  <section class="wittyEDEditorMain">
    <div class="theme-editor__panel" id="section-product" data-panel-id="product" tabindex="-1">
      <header class="theme-editor__header theme-editor__header--no-shadow">
        <nav class="theme-editor__header-nav wittyEDLogoHeading">
          <% if @type == 'resource_select' %>
            <button class="btn btn--plain theme-editor__header-action tip icon-prev white" data-hover="Back to your store" aria-label="Back to your store" type="button" name="button"></button>
          <% end %>
          <h2 class="ui-heading theme-editor__heading" data-bind="editor.sectionName(sectionId)">
            <%= svgs 'logo_white' %>
          </h2>
        </nav><!-- .theme-editor__header-nav -->
      </header><!-- .theme-editor__header -->
      <%= form_for @resource, url: url_for(controller: 'unembedded', action: 'update_api'), method: :put, html: {class: 'ajax'} do |o| %>

        <div class="wittyEDPanel<% if @type == 'resource_select' %> active<% end %>" data-tier="1">
          <div class="wittyEDPanelBody">
            <%= panel 'resource_select' %>
          </div><!-- .wittyEDPanelBody -->
        </div>
        <% unless @type == 'resource_select' %>
          <div class="wittyEDPanel active" data-tier="2">
            <header class="theme-editor__header theme-editor__header--no-shadow">
              <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel" aria-label="Back to sections" type="button" name="button"></button>
              <h2 class="ui-heading theme-editor__heading"><%= @type %></h2>
              <a class="btn_more" href=""><% svgs 'more_teal' %></a>
            </header><!-- .theme-editor__header -->
            <div class="wittyEDPanelBody">
              <%= render partial: 'unembedded/panels/' + @type, locals: {o: o} %>
            </div><!-- .wittyEDPanelBody -->
          </div>
          <% if @type == 'product' %>
            <div class="wittyEDPanel" data-tier="3">
              <header class="theme-editor__header theme-editor__header--no-shadow">
                <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel" aria-label="Back to sections" type="button" name="button"></button>
                <h2 class="ui-heading theme-editor__heading">Variants</h2>
                <a class="btn_more" href=""><% svgs 'more_teal' %></a>
              </header><!-- .theme-editor__header -->
              <div class="wittyEDPanelBody">
                <%= panel 'all_variants' %>
              </div><!-- .wittyEDPanelBody -->
            </div>
            <div class="wittyEDPanel" data-tier="4">
              <header class="theme-editor__header theme-editor__header--no-shadow">
                <button class="btn btn--plain theme-editor__header-action icon-prev prev-pannel" aria-label="Back to sections" type="button" name="button"></button>
                <h2 class="ui-heading theme-editor__heading">Variant</h2>
                <a class="btn_more" href=""><% svgs 'more_teal' %></a>
              </header><!-- .theme-editor__header -->
              <div id="section-edit-variant" class="wittyEDPanelBody">
                <%= panel 'one_of_many_variants' %>
              </div><!-- .wittyEDPanelBody -->
            </div>
          <% end %>
        <% end %>

      <% end %>
    </div><!-- .theme-editor__panel#section-product -->

  </section><!-- .wittyEDEditorMain -->

  <div class="wittyEDEditorFooter">
    <div class="ui-stack ui-stack--wrap">

      <div class="responsive-dropdown-items-container">
        <div class="responsive-dropdown-items">
          <ul>
            <li>
              <a href="#" data-width="calc(100% - 300px)" data-height="100%">Desktop</a>
            </li>
            <li>
              <a href="#" data-width="768" data-height="1024">iPad</a>
            </li>
            <li>
              <a href="#" data-width="375" data-height="667">iPhone6</a>
            </li>
            <li>
              <a href="#" data-width="320" data-height="568">iPhone5</a>
            </li>
          </ul>
        </div>
        <div class="dropdown-arrow"></div>
      </div>
      <button class="btn secondary views_button" title="Viewport selector" type="button" name="button" id="responsive-dropdown">
        <%= svgs 'monitor_teal' %>
        <div class="icon-down teal"></div>
  	  </button>

      <div class="ui-stack-item ui-stack-item--fill type--right">
        <ul class="segmented">
          <li>
            <button class="btn btn--icon tip icon-undo" disabled="disabled" data-hover="Undo" data-role="undo" aria-label="Undo" type="button" name="button"></button>          
          </li>
          <li>
            <button class="btn btn--icon tip icon-redo" disabled="disabled" data-hover="Redo" data-role="redo" aria-label="Redo" type="button" name="button"></button>
          </li>
        </ul>
        <button class="btn btn-primary" disabled="" data-bind-class="{"is-loading": editor.saving }" data-role="save" type="button" name="button">Save</button>
      </div>
    </div>
  </div><!-- .wittyEDEditorFooter -->

</div><!-- .wittyEDSidebar -->

<button class="wittyEDFullscreenToggle" aria-label="Toggle sidebar" type="button" name="button">
  <%= svgs 'dashboard_dark' %>
</button><!-- .wittyEDEditorFullscreenToggle -->
<!-- End WITTY EasyDash - Sidebar Code -->

<iframe id="dashboard-iframe" src="https://easy-dash.myshopify.com/?ediframe=true"></iframe>
