<div class="wittyEDSidebar">
  
  <!-- Panel - Main -->
  
  <section class="wittyEDEditorMain">
    <header class="theme-editor__header theme-editor__header--no-shadow">
      <h2 class="wittyEDLogoHeading ui-heading theme-editor__heading">
      	<%= svgs 'logo_white' %>
      </h2>
    </header><!-- .theme-editor__header -->
    <div class="wittyEDPanelBody" data-scrollable="">
      <div class="wittyEDTopButtons"> 
        <button class="sidebyside_large primary">Edit Product</button>
        <button class="sidebyside_small warning icon-trash"></button>
      </div>
      <h3 class="ui-subheading ui-subheading--subdued theme-editor__subheading">Choose your option</h3>
      <article class="next-card theme-editor__card">
        <div class="card has-sections">
          <div class="card-section">
            Blog Post
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @articles, @article_count, 'blog' %>
          </div>
          <hr/>
          <div class="card-section">
            Collection
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @collections, @collection_count, 'collection' %>
          </div>
          <hr/>
          <div class="card-section">
            Page
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @pages, @page_count, 'page' %>
          </div>
          <hr/>
          <div class="card-section">
            Product
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @products, @product_count, 'product' %>
          </div>
        </div>
      </article><!-- .next-card -->
    </div><!-- .wittyEDPanelBody -->
  </section><!-- .wittyEDEditorMain -->
</div>