<div class="wittyEDSidebar quick-select">
  
  <!-- Panel - Main -->
  
  <section class="wittyEDEditorMain">
    <header class="theme-editor__header theme-editor__header--no-shadow">
      <h2 class="wittyEDLogoHeading ui-heading theme-editor__heading">
      	<%= svgs 'logo_white' %>
      </h2>
    </header><!-- .theme-editor__header -->
    <div class="wittyEDPanelBody" data-scrollable=""<% unless @viewed_resource %> style="margin-top: 56px;"<% end %>>
      <% if @viewed_resource %>
        <div class="wittyEDTopButtons">
          <% if @viewed_resource.class.to_s.gsub(/shopifyapi::/i, '').underscore == 'product' %>
            <%= link_to 'Edit ' + @viewed_resource.class.to_s.gsub(/shopifyapi::|custom|smart/i, ''), dashboard_path(resource: @viewed_resource.class.to_s.gsub(/shopifyapi::/i, '').underscore, id: @viewed_resource.id), class: 'button sidebyside_large primary', target: '_blank', data: {handle: @viewed_resource.handle, id: @viewed_resource.id} %>
          <% else %>
            <a class="button sidebyside_large primary" target="_blank" data-handle="<%= @viewed_resource.handle %>" data-id="<%= @viewed_resource.id %>" href="https://<%= @shop_session.url %>/admin/<%= @viewed_resource.class.to_s.gsub(/shopifyapi::|custom|smart/i, '').underscore %>s/<%= @viewed_resource.id %>">Edit <%= @viewed_resource.class.to_s.gsub(/shopifyapi::|custom|smart/i, '') %></a>
          <% end %>

          <button class="sidebyside_small warning icon-trash delete-viewed-resource" data-id="<%= @viewed_resource.id %>" data-title="<%= @viewed_resource.title %>" data-resource="<%= @viewed_resource.class.to_s.downcase.gsub(/shopifyapi::|custom|smart/i, '') %>"></button>
        </div>
      <% end %>
      <h3 class="ui-subheading ui-subheading--subdued theme-editor__subheading">Choose your option</h3>
      <input type="hidden" id="target_attr" data-target="_blank">
      <article class="next-card theme-editor__card">
        <div class="card has-sections">
          <div class="card-section">
            Blog Post
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @articles, @article_count, 'blog', '_blank' %>
          </div>
          <hr/>
          <div class="card-section">
            Collection
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @collections, @collection_count, 'collection', '_blank' %>
          </div>
          <hr/>
          <div class="card-section">
            Page
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @pages, @page_count, 'page', '_blank' %>
          </div>
          <hr/>
          <div class="card-section">
            Product
            <button class="select-sim" type="button">Select</button>
            <%= dropdown @products, @product_count, 'product', '_blank' %>
          </div>
        </div>
      </article><!-- .next-card -->
    </div><!-- .wittyEDPanelBody -->
  </section><!-- .wittyEDEditorMain -->
</div>