<article>
  <div class="card">
    <div class="row">
      <a style="display: inherit; margin-bottom: 1rem;" href="">Redorder variants</a>
      <a style="display: inherit; margin-bottom: 1rem;" href="">Edit options</a>              
      <a style="display: inherit; margin-bottom: 1rem;" href="">Add variant</a>
      <div class="divider"></div>
      <div class="variant-selector">
        <ul class="variant-selector-list">
          <li class="variant-selector-item">Select:</li>
          <li class="variant-selector-item variant-selector-link" data-option="all">
            All
          </li>
          <li class="variant-selector-item variant-selector-link" data-option="none">
            None
          </li>
          <% @resource.options.each_with_index do |option, index| %>
            <% option.values.each do |value| %>
              <li class="variant-selector-item option-<%= index + 1 %> variant-selector-link" data-option="<%= index + 1 %>" data-value="<%= value %>">
                <%= value %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div><!-- .row -->
    <div class="row no_margin">
      <div class="bulk_checkbox extra_margin">
        <input type="checkbox">
        <%= svgs 'arrow_down' %>
      </div>
      <% @resource.variants.each do |variant| %>
        <%= fields_for 'variants[]', variant do |v| %>
          <div class="variant" data-option1="<%= variant.option1 %>" data-option2="<%= variant.option2 %>" data-option3="<%= variant.option3 %>" >
            <div class="col_left">
              <input type="checkbox">
              <% if variant.image_id %>
                <div class="variant_image">
                  <%= image_tag @resource.images.select{ |i| i.id == variant.image_id }.first.src %>
                </div>
              <% else %>
                <div class="variant_image">
                  <i class="icon-image"></i>
                </div>
              <% end %>
            </div>
            <div class="col_right">
              <ul class="variant_options lists">
                <li class="option-1"><%= variant.option1 %></li>
                <li class="option-2"><%= variant.option2 %></li>
                <li class="option-3"><%= variant.option3 %></li>
              </ul>
              <ul class="variant_options inputs">
                <% for i in 1..3 %>
                  <% if variant.attributes["option#{i}"] %>
                    <li class="option-<%= i %>">
                      <span class="label"><%= @resource.options[i - 1].name %></span>
                      <%= v.text_field "option#{i}".to_sym %>
                    </li>
                  <% else %>
                    <li class="option-<%= i %> null">
                      <span class="label">Option <%= i %></span>
                      <div class="skeleton_option"></div>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="inputs_container">
              <div class="input">
                <label>Inventory</label>
                <% if variant.inventory_management %>
                  <%= v.text_field :inventory_quantity %>
                <% else %>
                  <input type="text" class="null" value="N/A" readonly>
                <% end %>
              </div>
              <div class="input">
                <label>Compare at Price</label>
                <%= v.text_field :compare_at_price %>
              </div>
              <div class="input">
                <label>Price</label>
                <%= v.text_field :price %>
              </div>
              <div class="input">
                <label>SKU</label>
                <%= v.text_field :sku %>
              </div>
            </div>
            <div class="buttons">
              <button class="sidebyside_85 primary next-pannel">Edit variant</button>
              <button class="sidebyside_15 warning icon-trash tip" data-hover="Delete Variant"></button>
            </div>
          </div>
        <% end %>
      <% end %>
    </div><!-- .row -->
  </div><!-- .card -->
</article>