<article>
  <div class="card blog_post_options">
    <div class="row">
      <label>Title</label>
      <%= o.text_field :title, placeholder: "e.g. Blog about your latest products or deals" %>
    </div>
    <div class="row">
      <label for="shopify_api_article_body_html">Content</label>
      <%= o.text_area :body_html, class: "make-rich-text-editor" %>
      <a href="#" class="reveal-trigger" data-reveal="excerpt">Add excerpt</a>
      <div class="reveal-target" data-reveal="excerpt" style="margin-top: 1.5rem;">
        <label for="shopify_api_article_summary_html">Excerpt</label>
        <%= o.text_area :summary_html, class: "make-rich-text-editor" %>
      </div>
    </div>
    <div class="row no_margin">
      <label>Author</label>
      <select class="extra_margin" id="author_column">
        <option selected="selected" value="Travis Johnson"><%= @resource.author %></option>
      </select>
      <label>Blog</label>
      <%= o.select :blog_id, options_for_select(article_blog_options(@blogs), disabled: "separator", selected: @resource.blog_id), {}, {class: "secondary extra_margin"} %>
      <div class="new_blog_container" style="display:none;">
        <lable for="shopify_api_article_new_blog_title">Blog title</label>
        <input type="text" id="shopify_api_article_new_blog_title" name="shopify_api_article[new_blog_title]">
      </div>
    </div>
  </div>
</article>
<article>
  <div class="theme-editor-action-list__item" draggable="false">
    <div class="card">
      <h5>Search engine listing preview</h5>
      <!-- <button class="btn--link top-right">Edit website SEO</button> -->
      <p>Add a title and description to see how this article might appear in a search engine listing.</p>
      <button class="secondary reveal-trigger" data-reveal="seo">Edit website SEO</button>
      <div class="edit reveal-target" data-reveal="seo">

        <div class="row title_tag_container"></div>

        <div class="row description_tag_container"></div>

        <div class="row no_margin">
          <label class="seo-handle" for="shopify_api_article_handle">URL and handle
            <span class="info-icon">
              <span>i</span>
            </span>
          </label>
          <%= o.text_field :handle %>
        </div>
      </div>      
      <!-- <button class="btn btn--plain icon-next dark" type="button" name="button"></button> -->
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Visibility</h5>
    <div class="divider"></div>
    <div class="row no_margin">
      <label class="extra_margin">
        <input type="radio" name="shopify_api_article[published_at]" value="true"<% if @resource.published_at %> checked="checked"<% end %>>Visible <span class="subdued"><%= if @resource.published_at then Time.parse(@resource.published_at).strftime('(as of %F %I:%M%P %Z)') else Time.now.strftime('(as of %F %I:%M%P %Z)') end %></span>
      </label>
      <label class="extra_margin">
        <input type="radio" name="shopify_api_article[published_at]" value="false"<% unless @resource.published_at %> checked="checked"<% end %>>Hidden</label>
      <a href="#" class="tip" data-hover="Set publish date coming soon">Set a specific publish date</a>
    </div>
  </div>
</article>
<article>
  <div class="card secondary featured_image">
    <h5>Featured image</h5>
    <div class="featured_image_container">
      <% if @resource.attributes["image"] %>
        <div class="article-image">
          <img src="<%= @resource.image.src %>">
        </div>
        <label for="shopify_api_article_file" class="update">Update</label>
        <a href="#" class="remove">Remove</a>
      <% else %>
        <div class="column twelve type--centered">
          <i class="icon-image next-icon--size-40"></i>
          <label for="shopify_api_article_file" class="primary button">Upload image</label>
    		</div>
      <% end %>
    </div>
    <%= o.file_field "file", multiple: false, accept: "image/*", class: "image-upload" %>
  </div>
</article>
<article>
  <div class="card secondary">
    <div class="row no_margin">
      <label class="extra_margin">Tags <a href="#" id="view-all-tags" class="label-cta">View all tags</a></label>
      <input type="text" id="tag-field" data-resource="article" placeholder="Vintage, cotton, summer">
      <div class="tag-error">Oops, you've already used <span class=""></span></div>
      <div class="tags-container">
        <% for tag in @resource.tags.split(',') %>
          <span class="tag teal remove">
            <%= tag %>
            <a href="#"></a>
          </span>
        <% end %>
      </div>
      <%= o.hidden_field :tags, placeholder: "Vintage, cotton, summer" %>
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Template</h5>
    <p>Select a template for this blog post.</p>
    <label>Template suffix</label>
    <%= o.select :template_suffix, template_suffix_options(@assets.select{|asset| asset.key.include? "templates/article" }), {}, {class: "secondary"} %>
    <!-- <em class="no_margin">The template customers see when viewing this product in your store.</em> -->
  </div>
</article>
<div class="wittyEDBottomButtons">
  <!-- <button class="secondary red btn_bottom">Delete collection</button> -->
  <button class="warning btn_bottom">Delete blog post</button>
  <!-- <div class="divider"></div>
  <button class="primary btn_bottom extra_margin">Manage blogs</button>
  <button class="primary btn_bottom">Manage comments</button> -->
</div>