<article>
  <div class="card">
    <div class="row">
      <label>Title</label>
      <%= o.text_field :title, placeholder: "e.g. Summer collection, Under $100, Staff picks" %>
    </div>
    <div class="row no_margin">
      <label for="shopify_api_custom_collection_body_html">Description</label>
      <%= o.text_area :body_html, class: "make-rich-text-editor" %>
    </div>
  </div>
</article>
<article>
  <div class="card collection_conditions">
    <div class="row">
      <h5>Products</h5>
      <% if @resource.products %>
        <% for product in @resource.products %>
          <%= fields_for 'products', '' do |c| %>
            <%= c.hidden_field '', value: product.id, id: "product_#{product.id}" %>
          <% end %>
        <% end %>
      <% end %>
      <input type="search" class="resource-search" name="product-search" placeholder="Add products" data-resource="product" data-exceptions="collection-panel">
      <div class="select-sim-dropdown-container collection-pannel-product-select search" data-shop-url="<%= @shop_session.url %>">
        <div class="dropdown-arrow"></div>
        <ul class="select-sim-dropdown product" data-total="" data-resource="product" data-object="">
          <li class="variable">
            Placeholder
          </li>
        </ul>
        <div class="arrow-navigation">
          <button type="button" class="secondary icon-prev disabled"></button>
          <button type="button" class="secondary icon-next"></button>
          <div style="clear:both;"></div>
        </div>
      </div>
      <% if @resource.products %>
        <% for product in @resource.products %>
          <div class="product" data-product="<%= product.to_json %>">
            <a target="_blank" href="https://<%= @shop_session.url %>/admin/products/<%= product.id %>">
              <%= product.title %>
            </a>
            <span class="icon-close"></span>
          </div>
        <% end %>
      <% end %>
      <label>Sort:</label>
      <%= o.select :sort_order, sort_order_options, {}, {class: "secondary"} %>
    </div>
  </div>
</article>
<article>
  <div class="theme-editor-action-list__item" draggable="false">
    <div class="card">
      <h5>Search engine listing preview</h5>
      <!-- <button class="btn--link top-right">Edit website SEO</button> -->
      <p>Add a title and description to see how this collection might appear in a search engine listing.</p>
      <button type="button" class="secondary reveal-trigger" data-reveal="seo">Edit website SEO</button>
      <div class="edit reveal-target" data-reveal="seo">

        <div class="row title_tag_container"></div>

        <div class="row description_tag_container"></div>

        <div class="row no_margin">
          <label class="seo-handle" for="shopify_api_product_handle">URL and handle
            <span class="info-icon">
              <span>i</span>
            </span>
          </label>
          <%= o.text_field :handle %>
        </div>
      </div>
      <!-- <button class="btn btn--plain icon-next dark" type="button" name="button"></button> -->
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Visibility</h5>
    <div class="divider"></div>
    <div class="row no_margin">
      <label>
        <% if @resource.published_at %>
          <input type="checkbox" name="shopify_api_custom_collection[published_at]" checked="checked">
        <% else %>
          <input type="checkbox" name="shopify_api_custom_collection[published_at]">
        <% end %>
        Online store
        <a href="">
          <i class="icon-calendar tip left" data-hover="Set publish date"></i>
        </a>
      </label>
    </div>
  </div>
</article>
<article>
  <div class="card secondary featured_image" data-resource="custom_collection">
    <h5>Collection image</h5>
    <div class="featured_image_container">
      <% if @resource.attributes["image"] %>
        <div class="featured-image">
          <img src="<%= @resource.image.src %>">
        </div>
        <label for="shopify_api_custom_collection_file" class="update">Update</label>
        <a href="#" class="remove">Remove</a>
      <% else %>
        <div class="column twelve type--centered">
          <i class="icon-image next-icon--size-40"></i>
          <label for="shopify_api_custom_collection_file" class="primary button">Upload image</label>
        </div>
      <% end %>
    </div>
    <%= o.file_field "file", multiple: false, accept: "image/*", class: "single-image-upload" %>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Template</h5>
    <label>Template suffix</label>
    <%= o.select :template_suffix, template_suffix_options(@assets.select{|asset| asset.key.include? "templates/collection" }), {}, {class: "secondary extra_margin"} %>
    <em class="no_margin">The template customers see when viewing this collection in your store.</em>
    <!-- <em class="no_margin">The template customers see when viewing this product in your store.</em> -->
  </div>
</article>
<div class="wittyEDBottomButtons">
  <!-- <button class="secondary red btn_bottom">Delete collection</button> -->
  <button class="warning btn_bottom">Delete collection</button>          
</div>