<%= form_for @resource, url: url_for(controller: 'unembedded', action: 'update_api'), method: :post do |o| %>

  <input type="hidden" name="resource" value="<%= @type %>"> 
  <input type="hidden" name="id" value="<%= @resource.id %>"> 
  <article>
    <div class="card">
      <div class="row">
        <label>Title</label>
        <%= o.text_field :title, placeholder: "Short Sleeve T-Shirt" %>
      </div>
      <div class="row no_margin">
        <label>Description</label>
        <%= o.text_area :body_html %>
      </div>
    </div>
  </article>
  <article>
    <!-- <a href="#" class="theme-editor-action-list__item" data-bind-event-click="action("openSectionPanel", "section-images")" draggable="false"> -->
      <div class="card drop_images">
        <!-- <h5 class="wittyEDPanelButton">Images</h5>
        <button class="btn btn--plain icon-next dark tip" type="button" name="button" data-hover="Edit/add/delete images"></button> -->
        <h5>Images</h5>
        <div class="row no_margin">
          <a style="display: inherit; margin-bottom: 1rem;" href="">Add images from URL</a>
          <a href="">Add images</a>
          <div class="column twelve type--centered no_margin">
            <i class="image icon-photos next-icon--size-80"></i>
            <h5>Drop images to upload</h5>
          </div>
        </div>
      </div>
    <!-- </a> -->
  </article>

  <% if @resource.variants.first.title == 'Default Title' %>

    <%= fields_for 'variants[]', @resource.variants.first do |v| %>

      <article>
        <div class="card">
          <h5>Pricing</h5>
          <div class="row">
            <label>Price</label>
            <div class="next-input--stylized next-input--has-content">
              <span class="next-input__add-on next-input__add-on--before">$</span>
              <%= v.text_field :price, placeholder: "0.00", class: "next-input next-input--invisible" %>
            </div>
          </div>
          <div class="row next-input-stylized">
            <label>Compare at price</label>
            <div class="next-input--stylized next-input--has-content">
              <span class="next-input__add-on next-input__add-on--before">$</span>
              <%= v.text_field :compare_at_price, class: "next-input next-input--invisible" %>
            </div>
          </div>
          <div class="row no_margin">
            <label>
              <%= v.check_box :taxable %>
              Charge taxes on this product
            </label>
          </div>
        </div>
      </article>
      <article>
        <div class="card">
          <h5>Inventory</h5>
          <div class="row">
            <label>SKU (Stock Keeping Unit)</label>
            <%= v.text_field :sku %>
          </div>
          <div class="row">
            <label>Barcode (ISBN, UPC, GTIN, etc.)</label>
            <%= v.text_field :barcode %>
          </div>
          <div class="row no_margin">
            <label>Inventory policy</label>
            <%= v.select :inventory_management, inventory_management_options %>
          </div>
        </div>
      </article>
      <article>
        <div class="card">
          <h5>Shipping</h5>
          <div class="row">
            <label>
              <%= v.check_box :requires_shipping %>
              This product requires shipping
            </label>
          </div>
          <div class="divider"></div>
          <div class="row extra_margin">
            <h6>Weight</h6>
            <p class="subdued">Used to calculate shipping rates at checkout and label prices during fulfillment.</p>
            <label>Weight</label>
            <div class="input-group">
              <%= v.text_field :weight, class: 'sidebyside_75' %>
              <%= v.select :weight_unit, weight_unit_options, {}, {class: 'secondary sidebyside_25'} %>
            </div>
          </div>

          <div class="row">
            <h6>International Customs</h6>
            <label>HS tariff code <a href="http://hts.usitc.gov/" target="_blank">(look up code)</a></label>
            <% v.object.metafields.each do |metafield| %>
              <% if metafield.key == 'harmonized_system_code' %>
                <%= fields_for 'metafields[]', metafield do |m| %>
                  <%= m.text_field :value %>
                <% end %>
              <% end %>
            <% end %>

          </div>
          <div class="divider"></div>
          <div class="row no_margin">
            <h6>Fulfillment Service</h6>
            <%= v.select :fulfillment_service, fulfillment_service_options(@fulfillment_services) %>
          </div>
        </div>
      </article>

    <% end %>

  <% else %>

    <% @resource.variants.each do |variant| %>
      <%= fields_for 'variants[]', variant do |v| %>
        <%= v.text_field :option1 %> <%= v.text_field :option2 %>
      <% end %>
    <% end %>

  <% end %>

  <article>
    <a href="#" class="theme-editor-action-list__item" data-bind-event-click="action("openSectionPanel", "section-variants")" draggable="false">
      <div class="card">
        <h5>Variants</h5>
        <!-- <button class="btn--link top-right">Add variant</button> -->
        <p>Add variants if this product comes in multiple versions, like different sizes or colors.</p>
        <button class="secondary">Add variant</button>
        <div class="accordion_grey bottom rounded_bottom">
          <div class="row">
            <label>Option name</label>
            <input class="extra_margin" type="text" value="Size"/>
            <label>Option values</label>
            <input type="text" placeholder="Separate options with a comma"/>
          </div>
          <div class="divider" style="margin-left: 0; margin-right: 0;"></div>
          <button class="secondary">Add another option</button>
        </div>
        <!-- <button class="btn btn--plain icon-next dark tip" type="button" name="button" data-hover="Edit/add/delete variants"></button> -->
      </div>
    </a>
  </article>
  <article>
    <div class="theme-editor-action-list__item" data-bind-event-click="action("openSectionPanel", "section-seo")" draggable="false">
      <div class="card">
        <h5>Search engine listing preview</h5>
        <!-- <button class="btn--link top-right">Edit website SEO</button> -->
        <p>Add a description to see how this product might appear in a search engine listing.</p>
        <button class="secondary reveal-trigger" data-reveal="seo">Edit website SEO</button>
        <div class="edit reveal-target" data-reveal="seo">

          <% title_tag_index = false %>
          <% description_tag_index = false %>

          <% @resource.metafields.each_with_index do |metafield, index| %>
            <% if metafield.key == 'title_tag' %>
              <% title_tag_index = index %>
            <% end %>
            <% if metafield.key == 'description_tag' %>
              <%= fields_for 'metafields[]', metafield do |m| %>
                <% description_tag_index = index %>
              <% end %>
            <% end %>
          <% end %>

          <% if title_tag_index %>
            <%= fields_for 'metafields[]', @resource.metafields[title_tag_index] do |m| %>
              <%= m.text_field :value %>
            <% end %>
          <% else %>
            <%= fields_for 'new_metafields[]', ShopifyAPI::Metafield.new do |m| %>
              <%= m.text_field :value, class: "new_field" %>
            <% end %>
          <% end %>

          <% if description_tag_index %>
            <%= fields_for 'metafields[]',  @resource.metafields[description_tag_index] do |m| %>
              <%= m.text_area :value %>
            <% end %>
          <% else %>
            <%= fields_for 'new_metafields[]', ShopifyAPI::Metafield.new do |m| %>
              <%= m.text_field :value, class: "new_field" %>
            <% end %>
          <% end %>

          <%= o.text_field :handle %>
        </div>
        <!-- <button class="btn btn--plain icon-next dark" type="button" name="button"></button> -->
      </div>
    </div>
  </article>
  <article>
    <div class="card secondary">
      <h5>Visibility</h5>
      <div class="divider"></div>
      <div class="row no_margin">
        <label><input type="checkbox" name="" checked="checked">Online store<a href=""><i class="icon-calendar tip" data-hover="Set publish date"></i></a></label>
      </div>
    </div>
  </article>
  <article>
    <div class="card secondary">
      <h5>Organization</h5>
      <div class="row extra_margin">
        <label>Product type</label>
        <div class="input-group">
          <input type="text" placeholder="Shirts" />
          <button class="secondary icon-down"></button>
        </div>
      </div>
      <div class="row">
        <label>Vendor</label>
        <div class="input-group">
          <input type="text" placeholder="Nike" />
          <button class="secondary icon-down"></button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <label class="extra_margin">Collection</label>
        <input type="search" placeholder="Search for collections" />
        <em>Add this product to a collection so it’s easy to find in your store.</em>
      </div>
      <div class="divider"></div>
      <div class="row no_margin">
        <label class="extra_margin">Tags <a href="#" class="label-cta">View all tags</a></label>
        <%= o.text_field :tags, placeholder: "Vintage, cotton, summer" %>
      </div>
    </div>
  </article>
  <article>
    <div class="card secondary">
      <h5>Theme templates</h5>
      <label>Template suffix</label>
      <select class="secondary extra_margin">
        <option>product</option>
        <option>product.two</option>
        <option>product.three</option>
      </select>
      <em class="no_margin">The template customers see when viewing this product in your store.</em>
    </div>
  </article>
  <div class="wittyEDBottomButtons"> 
    <!-- <button class="secondary red btn_bottom">Delete product</button> -->
    <button class="warning btn_bottom">Delete product</button>  
  </div>

  <%= o.submit %>
<% end %>