<input type="hidden" name="resource" value="<%= @type %>"> 
<input type="hidden" name="id" value="<%= @resource.id %>"> 
<article>
  <div class="card">
    <div class="row">
      <label>Title</label>
      <%= o.text_field :title, placeholder: "Short Sleeve T-Shirt" %>
    </div>
    <div class="row no_margin">
      <label>Description</label>
      <%= o.text_area :body_html %>
    </div>
  </div>
</article>
<article>
  <!-- <a href="#" class="theme-editor-action-list__item" draggable="false"> -->
    <div class="card drop_images">
      <!-- <h5 class="wittyEDPanelButton">Images</h5>
      <button class="btn btn--plain icon-next dark tip" type="button" name="button" data-hover="Edit/add/delete images"></button> -->
      <h5>Images</h5>
      <div class="row no_margin">
        <a id="addImageUrlLink" style="display: inherit; margin-bottom: 1rem;" href="#">Add image from URL</a>
        <label class="link_label" for="shopify_api_product_file" style="margin-bottom: 1rem;">Add images</label>
        <%= o.file_field "file", multiple: true, accept: "image/*" %>
        <% if @resource.images.length > 0 %>
          <div class="images-container">
            <% for image in @resource.images %>
              <div class="product-image" data-id="<%= image.id %>" draggable="true">
                <img src="<%= image.src %>">
                <div class="overlay">
                  <div class="icons-container">
                    <i class="image icon-preview next-icon--size-16"></i>
                    <i class="next-icon--size-16 alt-tag">ALT</i>
                    <i class="image icon-trash next-icon--size-16"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% else %>
        <div class="images-container">
          <div class="column twelve type--centered no_margin">
            <i class="image icon-photos next-icon--size-80"></i>
            <h5>Drop images to upload</h5>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <!-- </a> -->
</article>

<% if @resource.variants.first&.title == 'Default Title' %>
  <%= panel 'default_title' %>
<% else %>
  <div class="card">
    <h5 class="next-pannel">Variants <span class="icon-next variant-next"></span></h5>
  </div>
<% end %>

<article>
  <div class="theme-editor-action-list__item" draggable="false">
    <div class="card">
      <h5>Search engine listing preview</h5>
      <p>Add a description to see how this product might appear in a search engine listing.</p>
      <button type="button" class="secondary reveal-trigger" data-reveal="seo">Edit website SEO</button>
      <div class="edit reveal-target" data-reveal="seo">

        <div class="row title_tag_container"></div>

        <div class="row description_tag_container"></div>

        <div class="row no_margin">
          <label class="seo-handle" for="shopify_api_product_handle">URL and handle
            <span class="info-icon">
              <span>i</span>
            </span>
          </label>
          <%= o.text_field :handle %>
        </div>
      </div>
      <!-- <button class="btn btn--plain icon-next dark" type="button" name="button"></button> -->
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Visibility</h5>
    <div class="divider"></div>
    <div class="row no_margin">
      <label>
        <% if @resource.published_at %>
          <input type="checkbox" name="shopify_api_product[published_at]" checked="checked">
          <input type="hidden" name="shopify_api_product[old_published_at]" value="true">
        <% else %>
          <input type="checkbox" name="shopify_api_product[published_at]">
        <% end %>
        Online store
        <a href="">
          <i class="icon-calendar tip" data-hover="Set publish date"></i>
        </a>
      </label>
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Organization</h5>
    <div class="row extra_margin">
      <label>Product type</label>
      <div class="input-group select-sim no-style">
        <%= o.text_field :product_type, placeholder: "Shirts" %>
        <button id="view-all-types" type="button" class="secondary icon-down"></button>
      </div>
      <div class="select-sim-dropdown-container product-types scroll" data-shop-url="<%= @shop_session.url %>">
        <div class="dropdown-arrow"></div>
        <ul class="select-sim-dropdown product-types" data-total="" data-resource="types" data-object="">
          <li class="variable">
            <a href="#">Placeholder</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <label>Vendor</label>
      <div class="input-group select-sim no-style">
        <%= o.text_field :vendor, placeholder: "Nike" %>
        <button id="view-all-vendors" type="button" class="secondary icon-down"></button>
      </div>
      <div class="select-sim-dropdown-container product-vendors scroll" data-shop-url="<%= @shop_session.url %>">
        <div class="dropdown-arrow"></div>
        <ul class="select-sim-dropdown product-vendors" data-total="" data-resource="vendors" data-object="">
          <li class="variable">
            <a href="#">Placeholder</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row product-collections-select">
      <label class="extra_margin">Collection</label>
      <% if @resource.collections %>
        <% for collection in @resource.collections %>
          <%= fields_for 'collections', '' do |c| %>
            <%= c.hidden_field '', value: collection.id, id: "collection_#{collection.id}" %>
          <% end %>
        <% end %>
      <% end %>
      <input type="search" class="resource-search" name="collection-search" placeholder="Search for collections" data-resource="custom_collection" data-exceptions="product-panel">
      <div class="select-sim-dropdown-container product-pannel-collection-select search" data-shop-url="<%= @shop_session.url %>">
        <div class="dropdown-arrow"></div>
        <ul class="select-sim-dropdown custom_collection" data-total="" data-resource="custom_collection" data-object="">
          <li class="variable">
            Placeholder
          </li>
        </ul>
        <div class="arrow-navigation">
          <button type="button" class="secondary icon-prev disabled"></button>
          <button type="button" class="secondary icon-next"></button>
          <div style="clear:both;"></div>
        </div>
      </div>
      <% if @resource.collections %>
        <% for collection in @resource.collections %>
          <div class="collection" data-collection="<%= collection.to_json %>">
            <a target="_blank" href="https://<%= @shop_session.url %>/admin/collections/<%= collection.id %>">
              <%= collection.title %>
            </a>
            <span class="icon-close"></span>
          </div>
        <% end %>
      <% end %>
      <% if @smart_collections %>
        <% for collection in @smart_collections %>
          <div class="collection" data-collection="<%= collection.to_json %>">
            <a target="_blank" href="https://<%= @shop_session.url %>/admin/collections/<%= collection.id %>">
              <%= collection.title %> 
            </a>
            <span class="auto">auto</span>
          </div>
        <% end %>
        <% if @smart_collections.size == 0 and @resource.collections.size == 0 %>
          <em>Add this product to a collection so it’s easy to find in your store.</em>
        <% end %>
      <% end %>
    </div>
    <div class="divider"></div>
    <div class="row no_margin">
      <label class="extra_margin">Tags <a href="#" id="view-all-tags" class="label-cta">View all tags</a></label>
      <input type="text" id="tag-field" placeholder="Vintage, cotton, summer">
      <div class="tag-error">Oops, you've already used <span class=""></span></div>
      <div class="tags-container">
        <% for tag in @resource.tags.split(',') %>
          <span class="tag teal remove">
            <%= tag %>
            <a href="#"></a>
          </span>
        <% end %>
      </div>
      <%= o.hidden_field :tags, placeholder: "Vintage, cotton, summer" %>
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Theme templates</h5>
    <label>Template suffix</label>
    <%= o.select :template_suffix, template_suffix_options(@assets.select{|asset| asset.key.include? "templates/product" }), {}, {class: "secondary extra_margin"} %>
    <em class="no_margin">The template customers see when viewing this product in your store.</em>
  </div>
</article>
<% unless @resource.id == 'new' %>
<div class="wittyEDBottomButtons"> 
  <!-- <button class="secondary red btn_bottom">Delete product</button> -->
  <button type="button" class="warning btn_bottom product" data-id="<%= @resource.id %>" data-resource="<%= @type %>"><%= link_to 'Delete product', dashboard_hard_delete_path(id: @resource.id, resource: @type) %></button>  
</div>
<% end %>