<%= fields_for 'variants[]', @resource.variants.first do |v| %>
<article>
  <div class="card edit_variant_info secondary">
    <div class="col_left">
      <% if @resource.images.first %>
        <img src="<%= @resource.images.first.src %>" />
      <% else %>
        <i class="icon-image"></i>
      <% end %>
    </div>
    <div class="col_right">
      <h5 class="no_margin"><%= @resource.title %></h5>
      <p class="subdued no_margin"><%= @resource.variants.count %> variants</p>
    </div>
  </div>
</article>
<article>
  <div class="card secondary">
    <h5>Variants</h5>
    <select>
      <% for variant in @resource.variants %>
        <option><%= variant.title %></option>
      <% end %>
    </select>
  </div>
</article>
<article>
  <div class="card drop_images">
    <h5>Options</h5>
    <div class="row">
      <label>Color</label>
      <%= v.text_field :option1, placeholder: "Option 1", class: "option_1 variant_input" %>
    </div>
    <div class="row">
      <label>Option 2</label>
      <%= v.text_field :option2, placeholder: "Option 2", class: "option_2 variant_input" %>
    </div>
    <div class="row">
      <label>Option 3</label>
      <%= v.text_field :option3, placeholder: "Option 3", class: "option_3 variant_input" %>
    </div>
    <div class="row no_margin image_box" style="text-align: center;">
      <div class="column twelve type--centered no_margin">
        <i class="image icon-image next-icon--size-80"></i>
        <h5>Choose image</h5>
      </div>
      <a style="margin-top: 1rem; display: inline-block;" href="">Change image</a>
    </div>
  </div>
</article>
<article>
  <div class="card">
    <h5>Pricing</h5>
    <div class="row">
      <label>Price</label>
      <div class="next-input--stylized next-input--has-content">
        <span class="next-input__add-on next-input__add-on--before">$</span>
        <input class="next-input next-input--invisible" type="text" placeholder="0.00" value="0.00" />
      </div>
    </div>
    <div class="row next-input-stylized">
      <label>Compare at price</label>
      <div class="next-input--stylized next-input--has-content">
        <span class="next-input__add-on next-input__add-on--before">$</span>
        <input class="next-input next-input--invisible" type="text" placeholder="" />
      </div>
    </div>
    <div class="row no_margin">
      <label><input type="checkbox" name="" checked="checked">Charge taxes on this product</label>
    </div>
  </div>
</article>
<article>
  <div class="card">
    <h5>Inventory</h5>
    <div class="row">
      <label>SKU (Stock Keeping Unit)</label>
      <input type="text" />
    </div>
    <div class="row">
      <label>Barcode (ISBN, UPC, GTIN, etc.)</label>
      <input type="text" />
    </div>
    <div class="row no_margin">
      <label>Inventory policy</label>
      <select>
        <option>Don't track inventory</option>
        <option>Shopify tracks this product's inventory</option>
      </select>
    </div>
  </div>
</article>
<article>
  <div class="card">
    <h5>Shipping</h5>
    <div class="row">
      <label><input type="checkbox" name="" checked="checked">This product requires shipping</label>
    </div>
    <div class="divider"></div>
    <div class="row extra_margin">
      <h6>Weight</h6>
      <p class="subdued">Used to calculate shipping rates at checkout and label prices during fulfillment.</p>
      <label>Weight</label>
      <div class="input-group">
        <input class="sidebyside_75" type="text" value="0.0" />
        <select class="secondary sidebyside_25">
          <option>lb</option>
          <option>oz</option>
          <option>kg</option>
          <option>g</option>
        </select>
      </div>
    </div>
    <div class="row">
      <h6>International Customs</h6>
      <label>HS tariff code <a href="http://hts.usitc.gov/" target="_blank">(look up code)</a></label>
      <input type="text" />
    </div>
    <div class="divider"></div>
    <div class="row no_margin">
      <h6>Fulfillment Service</h6>
      <select>
        <option>Manual</option>
      </select>
    </div>
  </div>
</article>
<div class="wittyEDBottomButtons"> 
  <!-- <button class="secondary red btn_bottom">Delete variant</button> -->
  <button class="warning btn_bottom">Delete variant</button>  
</div>  
<% end %>